crewai
fastapi
uvicorn
openai
langchain
langchain-openai
langchain-community
langchain-huggingface
sentence-transformers
pydantic
python-docx
pdfminer.six
pymongo
python-dotenv
authlib
PyJWT
httpx
faiss-cpu
huggingface-hub
torch
transformers
python-multipart
itsdangerous
court-listener
spacy
nltk
scikit-learn
numpy