crewai
fastapi
uvicorn
openai
langchain
langchain-openai
langchain-community
langchain-huggingface
sentence-transformers
pydantic
python-docx
pdfminer.six
pymongo
python-dotenv
authlib
faiss-cpu
huggingface-hub
torch
transformers